/*
--------------------------------------------------------------------------------
COLORS - alphabetical order
--------------------------------------------------------------------------------
*/
$black: #000000;
$light: #E9E9E9;
$white: #ffffff;
$green: #18A37F;
$dark: #353535;
